@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .header_button {
    @apply w-full py-2 max-lg:px-7 max-md:px-5 text-white hover:cursor-pointer font-semibold hover:bg-gray-700 rounded-3xl flex flex-row items-center gap-2 max-lg:gap-1 justify-center max-sm:text-sm max-sm:px-1 px-20;
  }
  /*Right Side bar*/
  .divider {
    @apply bg-gray-500 w-full mx-auto border-0 h-px;
  }
  .rightBar_data {
    @apply flex flex-row gap-2 items-center hover:text-gray-600 hover:cursor-pointer;
  }
  .icon_style {
    @apply p-1 bg-gray-900 rounded-2xl;
  }

  /*PostCard*/
  .postfooter_icon {
    @apply w-20 hover:bg-gray-600 rounded-xl flex items-center justify-center max-lg:w-6 max-lg:h-6;
  }
  /*HoverCard*/
  .hover_data {
    @apply font-medium text-lg hover:text-gray-600 hover:cursor-pointer
  }
}
